<section class="sign-in">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Sign in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'u-full-width' %>

          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'u-full-width' %>

          <% if devise_mapping.rememberable? -%>
            <label>
              <%= f.check_box :remember_me %>
              <span>Remember me</span>
            <label>
          <% end -%>

          <br>

          <%= f.submit "Log in", class: 'button button-primary' %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
