<%= form_for @goal, html: { class: 'goals-form' } do |f| %>
  <div class="row first-row">
    <div class="twelve columns">
      <%= image_tag User.first.profile_picture.url(:thumb) %>
      <h1 class="u-pull-left">In 66 days...</h1>
      <p class="u-pull-right"><%= f.date_field :start_date %></h1>
    </div>
  </div>

  <div class="row second-row">
    <div class="twelve columns">
      <%= f.text_field :title, class: 'u-full-width no-border',
        placeholder: 'What\'s your goal?' %>
    </div>
  </div>

  <div class="row third-row">
    <div class="seven columns goal-invite-list">
      <h5>Invite Strangers</h5>
      <div class="invite-strangers">
        <%= render 'invite_strangers' %>
      </div>
    </div>
    <div class="five columns categories-check-box">
      <h5>Select Categories</h5>
      <ul>
        <% @categories.each do |category| %>
          <li>
            <label>
              <%= check_box_tag 'goal[category_ids][]', category.id %>
              <span class="label-body"><%= category.name%></span>
            </label>
          </li>
        <% end %>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= f.submit class: 'button-primary u-pull-right' %>
    </div>
  </div>
<% end %>
