<%= form_for @goal, html: { class: 'goals-form' } do |f| %>
  <div class="first_row">
  <div class="surtitle">IN 66 DAYS...</div>
  <%= f.date_field :start_date %></div>

  <%= f.text_field :title, class: 'u-full-width', placeholder: 'What\'s your goal?'%>
  <span id="edit_title">Edit</span>

  <hr/>
  <div class="main_content">
  <div class="invite_strangers">
    <% User.where.not(id: current_user.id).each do |user| %>
      <div class="user_strange">
        <div>
          <div class="add_user"></div>
          <div class="user_thumbnail">
            <img src="<%= user.profile_picture.url(:thumb)%>" alt="">
          </div>
        </div>
        <div class="user_name">
          <div class="user_first_name"><%= user.first_name %></div>
          <div class="user_last_name"><%= user.last_name %></div>
        </div>
      </div>
    <% end %>
    <div class="more_stranger">Recommend More</div>
  </div>



  <div class="categories-list">
    <h5>Categories</h5>
    <% Category.all.each do |category| %>
      <label>
        <%= check_box_tag 'goal[category_ids][]', category.id %>
        <span class="label-body"><%= category.name%></span>
      </label>
    <% end %>
  </div>
</div>
  <br><br>
  <%= f.submit class: 'button-primary' %>
<% end %>
