<section class="started-goal">
  <div class="goal-info-box container">
    <div class="row goal-info">
      <div class="eight columns">
        <h1>In <%= @goal.days_left %> days...</h1>
        <h5>I want to <%= @goal.title %>.</h5>
      </div>
      <div class="four columns">
        <p>Goal Started On</p>
        <div class="row">
          <div class="three columns">
            <div class=<%= user_missing_profile_picture?(@goal.user.profile_picture.url(:thumb)) %>>
              <%= image_tag @goal.user.profile_picture.url(:thumb) %>
            </div>
          </div>
          <div class="nine columns">
            <p><%= @goal.user.full_name %></p>
            <p><%= @goal.start_date.strftime('%a, %b %d, %Y') %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="goal-participants">
      <div class="participants-list nine columns">
        <p><%= @goal.participants.count %> Active Members</p>
        <% @goal.participants.each do |participant| %>
          <div class=<%= user_missing_profile_picture?(participant.profile_picture.url(:thumb)) %>>
            <%= image_tag participant.profile_picture.url(:thumb) %>
          </div>
        <% end %>
      </div>

      <div class="participants-actions three columns">
        <%# <% if current_user.participations.pluck(:goal_id).include? @goal.id %>
        <%#   <%= link_to 'Leave Goal', participation_path(goal_id: @goal.id, user_id: current_user.id),
        <%#     class: 'button button-primary', method: :delete %>
        <%# <% else %>
        <%#   <%= link_to 'Join Goal', participations_path(goal_id: @goal.id),
        <%#     class: 'button button-primary', method: :post %>
        <%# <% end %>
      </div>
    </div>
  </div>

  <div class="goal-status container">
    <div class="row">
      <div class="seven columns">
        <h1>High Scores</h1>
        <% @participants.each do |participant| %>
          <div class="row user-score-card">
            <div class="two columns">
              <div class=<%= user_missing_profile_picture?(participant.profile_picture.url(:thumb)) %>>
                <%= image_tag participant.profile_picture.url(:thumb) %>
              </div>
            </div>
            <div class="four columns">
              <p><%= participant.full_name %></p>
              <p><%= participant.participations.find_by(goal_id: @goal.id).score %> Points</p>
            </div>
            <div class="six columns">
              <% if (current_user == participant) %>
                <% if participant.voted?(@goal) %>
                  <%= link_to 'You did it',
                    '#', class: 'button u-pull-right' %>
                <% else %>
                  <%= link_to 'I did it',
                    score_participation_path(
                      participant.participations.find_by(goal_id: @goal.id)),
                    class: 'button u-pull-right', method: :post %>
                <% end %>
              <% elsif !(current_user == participant) &&
                  !participant.vouched?(current_user, @goal) %>
                <%= link_to 'Vouch',
                  vouch_participation_path(
                    participant.participations.find_by(goal_id: @goal.id),
                    participant_id: participant.id),
                  class: 'button button-primary u-pull-right', method: :post %>
              <% elsif (current_user != participant) && participant.vouched?(current_user, @goal) %>
                <%= link_to 'Vouched', '#', class: 'button u-pull-right' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="five columns">
        <!-- <div class="categories&#45;list"> -->
        <!--   <h1>Category</h1> -->
        <!--   <ul> -->
        <!--     <% @goal.categories.each do |category| %> -->
        <!--       <li><%= category.name %></li> -->
        <!--     <% end %> -->
        <!--   </ul> -->
        <!--   <br> -->
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div class="comments container">
    <h1>Discussion Board</h1>
    <%= render partial: 'comments/form', locals: { commentable_id: @goal.id } %>
    <% unless @goal.root_comments.blank? %>
      <% @comments.each do |comment| %>
        <div class="row comment">
          <div class="twelve columns">
            <p>
              <%= comment.user.full_name %>
              <%= comment.created_at.strftime('%l:%M%p %a, %b %d, %Y') %>
            </p>
            <p><%= comment.body %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
