<section class="started-goal">
  <div class="goal-info-box container">
    <div class="row goal-info">
      <div class="eight columns">
        <h1>In <%= @goal.days_left %> days...</h1>
        <h5>I want to <%= @goal.title %>.</h5>
      </div>
      <div class="four columns">
        <p>Goal Created By</p>
        <div class="row">
          <div class="two columns">
            <% if @goal.user.profile_picture.blank? %>
              <%= fa_icon 'user 3x', class: 'circular' %>
            <% else %>
              <%= image_tag @goal.user.profile_picture.url %>
            <% end %>
          </div>
          <div class="ten columns">
            <ul>
              <li><%= @goal.user.full_name %></li>
              <li>
                <%= @goal.created_at.strftime('%l:%M%p %a, %b %d, %Y') %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="goal-participants">
      <div class="participants-list nine columns">
        <p><%= @goal.participants.count %> Active Members</p>
        <ul>
          <% @goal.participants.each do |participant| %>
            <% if participant.profile_picture.blank? %>
              <li><%= fa_icon 'user 3x', class: 'circular' %></li>
            <% else %>
              <li><%= image_tag participant.profile_picture.url %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="participants-actions three columns">
        <% if current_user.participations.pluck(:goal_id).include? @goal.id %>
          <%= link_to 'Leave Goal', participation_path(goal_id: @goal.id),
            class: 'button button-primary', method: :delete %>
        <% else %>
          <%= link_to 'Join Goal', participations_path(goal_id: @goal.id),
            class: 'button button-primary', method: :post %>
        <% end %>

        <% if current_user.participations.pluck(:goal_id).include? @goal.id %>
          <% if current_user.voted?(@goal) %>
            <%= link_to 'You did it',
              '#', class: 'button' %>
          <% else %>
            <%= link_to 'I did it',
              score_participation_path(
                current_user.participations.find_by(goal_id: @goal.id)),
              class: 'button', method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="goal-status container">
    <div class="row">
      <div class="seven columns">
        <h1>High Scores</h1>
        <% @goal.participations.order('score DESC').map(&:user).each do |participant| %>
          <div class="row user-score-card">
            <div class="two columns">
              <% if participant.profile_picture.blank? %>
                <%= fa_icon 'user 3x', class: 'circular' %>
              <% else %>
                <%= image_tag participant.profile_picture.url %>
              <% end %>
            </div>
            <div class="four columns">
              <ul>
                <li><%= participant.full_name %></li>
                <li>
                  <%= participant.participations.find_by(goal_id: @goal.id).score %> Points
                </li>
              </ul>
            </div>
            <div class="six columns">
              <% if !(current_user == participant) &&
                  !participant.vouched?(current_user, @goal) %>
                <%= link_to 'Vouch',
                  vouch_participation_path(
                    participant.participations.find_by(goal_id: @goal.id),
                    participant_id: participant.id),
                  class: 'button button-primary u-pull-right', method: :post %>
              <% elsif (current_user != participant) && participant.vouched?(current_user, @goal) %>
                <%= link_to 'Vouched', '#', class: 'button u-pull-right' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="five columns">
        <div class="categories-list">
          <h1>Category</h1>
          <ul>
            <% @goal.categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="comments container">
    <%= render partial: 'comments/form', locals: { commentable_id: @goal.id } %>

    <% @goal.root_comments.sort_by(&:created_at).each do |comment| %>
      <div class="row comment">
        <div class="twelve columns">
          <p>
            <%= comment.user.full_name %>
            <%= comment.created_at.strftime('%l:%M%p %a, %b %d, %Y') %>
          </p>
          <p><%= comment.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
