<nav>
  <div class="container">
    <div class="sign-in u-pull-left">
      <% if user_signed_in? %>
        <!-- <ul class="nav&#45;dropdown"> -->
        <!--   <li><%= link_to "Welcome #{current_user.full_name}", '#' %></li> -->
        <!--   <li><%= link_to 'Edit Profile', edit_user_registration_path %></li> -->
        <!--   <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li> -->
        <!-- </ul> -->
        <%= link_to "Welcome #{current_user.full_name}", '#' %> |
        <%= link_to 'Edit Profile', edit_user_registration_path %> |
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>

    <div class="logo u-pull-right">
      <%= link_to 'HabitMi', root_path %>
    </div>
  </div>
</nav>
